<html>
  <head>
    <link rel = "stylesheet" type = "text/css" href = "frontend.css">

    <script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    
<script type = "text/javascript">

$(document).ready(function() {

  //Please note I haven't rendered css which makes the web lack css formatting
  $('#login-screen').show();
  $('#login-message').html("Please enter your credentials below");
  $('#welcome-screen').hide();
console.log("loading finished")})

$(document).on("click", "#login-button", function(e){


//To keep away the default behaviors and submit twice problem
  e.preventDefault();
  e.stopPropagation();

  //Extracing infos from dialog box

  var username = $('#login-username').val()
  var password = $('#login-password').val()


  console.log(username)
  console.log(password)
  $.ajax({
    type: 'POST',
    url: '/users/login',
    data: JSON.stringify({user: username, password: password}),
    contentType: "application/json",
    dataType: "json",
    success: function(data){
      console.log(data)
      if (data.errCode > 0){
        $('#login-screen').hide();
        $('#welcome-screen').show();
        console.log(data)
        $('#welcome-message').html("Welcome "+username+". You have logged in "+data.count+" times.");

      }

      else{
        //Only bad credential can come from negative errCode in Login
        $('#login-screen').show()
        $('#welcome-screen').hide()
        console.log(data)
        $('#login-message').html("Invalid username and password combination. Please try again.")

      }

    }
  })
});



  $(document).on("click", "#add-user-button", function(e){
    e.preventDefault();
    e.stopPropagation();

    var username = $('#login-username').val()
    var password = $('#login-password').val()
    $.ajax({
        type: 'POST',
        url: '/users/add',
        data: JSON.stringify({user: username, password: password}),
        contentType: "application/json",
        dataType: "json",
        success: function(data){
          if (data.errCode > 0){
            $('#login-screen').hide();
            $('#welcome-screen').show();
            $('#welcome-message').html("Welcome "+username+". You have logged in "+data.count+" times.");

          }

          else{
            $('#login-screen').show()
            $('#welcome-screen').hide()
            if (data.errCode == -2){
              //Repeated Users case
            $('#login-message').html("This username already exists. Please try again.")}

            else if (data.errCode == -3){
              //bad username case
              $('#login-message').html("The user name should be non-empty and at most 128 characters long. Please try again.")}

            else{
              //bad password case
              $('#login-message').html("The password should be at most 128 characters long. Please try again.")}

            }

            

          }


        
  })
});

  $(document).on("click", "#logout-button", function(e){
  e.preventDefault();
  e.stopPropagation();

  $('#login-screen').show()
  $('#login-message').html("Please enter your credentials below")
  $('#welcome-screen').hide()
});


</script>

  </head>
  <body>

  <div id = "login-screen" class = "box">
  	<div id = "login-message" class = "message"></div>
  	<form>
      <label for = "username here">Username:</label>
      <input id = "login-username"><br>
      <label for = "password here">Password:</label>
  	  <input id = "login-password" type = "password"><br>
  	  <input id = "login-button" type = "submit" value = "Login">
  	  <input id = "add-user-button" type = "submit" value = "Add">
  	</form>

  </div>

  <div id = "welcome-screen" class = "box">
  	<div id = "welcome-message" class = "message"></div>
  	<form>
  	  <input type = "submit" id = "logout-button" value = "Logout">
  	</form>
  </div>


  
  </body>


</html>